[run]
branch = true
concurrency = thread
omit =
    tests/*
    backend/**/migrations/*
    backend/manage.py
    backend/rdbase/settings/*
    backend/rdbase/asgi.py
    backend/rdbase/wsgi.py
source = backend

[report]
fail_under = 95
exclude_lines =
    if TYPE_CHECKING:
    if __name__ == .__main__.:
    pragma: no cover
    raise NotImplementedError
show_missing = true
